@model IEnumerable<WebSellingToy.Models.ThongKeDoanhSo>

@{
    ViewBag.Title = "BangThongKeDS";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Bảng Thống kê doanh số từ ngày @Session["ngaybd"] đến ngày @Session["ngaykt"]</h2>

<div>
    <h2>Tổng doanh thu: @ViewBag.TongDoanhThu VND</h2> 
</div>
<table class="table">
    <tr>
        <th>
            Mã Hóa Đơn
        </th>
        <th>
            Ngày Lập
        </th>
        <th>
            Mã Sản Phẩm
        </th>
        <th>
            Số Lượng Bán
        </th>
        <th>
            Số Tiền(VND)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.iMaHoaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtNgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iMaSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iSoLuongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dTongTien)
        </td>
        
    </tr>
}


</table>

<div>
    @Html.ActionLink("Quay lại trang Thống kê", "ThongKeDoanhSo")
</div>
