@model IEnumerable<WebSellingToy.Models.HoaDonBanHang>

@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XacNhanDonHang</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHoaDon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.XacNhanDonHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChiNhanHang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHoaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XacNhanDonHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrangThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChiNhanHang)
        </td>
        <td>
            @Html.ActionLink("Xác nhận đơn hàng", "DongYXacNhanDonHang", new { id = item.MaHoaDon }) 
        </td>
    </tr>
}

</table>
