@model WebSellingToy.Models.SanPham

@{
    ViewBag.Title = "Xoa1SanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa Sản Phẩm</h2>

<h3>Bạn có chắc là muốn xóa sản phẩm này không?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XuatXu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XuatXu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SLTon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLTon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaThuMua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaThuMua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySanXuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySanXuat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về Danh Sách", "QuanLySanPham")
        </div>
    }
</div>
