@model WebSellingToy.Models.NhanVien

@{
    ViewBag.Title = "Xoa1NhanVien";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa nhân viên</h2>

<h3>Bạn có chắc là muốn xóa bản ghi này???</h3>
<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MKTruyCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MKTruyCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoCMND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoCMND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay trở lại danh sách", "QuanLyAdmin")
        </div>
    }
</div>
